.footer {
  border-top: 5px solid $ui-black;
  background-color: $bg-purple;
  padding-top: 172px;
  padding-bottom: 60px;

  position: relative;

  background-image: url(../../images/decorate-footer.svg);
  background-repeat: no-repeat;
  background-position: bottom right 128px;
}

.footer__columns {
  display: grid;
  grid-template-columns: 1.39fr 1fr;
  column-gap: 32px;
}
