.footer__title-right {
  font-weight: 700;
  font-size: 32px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $text-white;

  position: relative;
  z-index: 1;

  margin-bottom: 31px;

  &::after {
    content: url(../../images/decorate-person.svg);
    position: absolute;
    right: 0;
    top: -110px;
    z-index: -1;
  }
}
