@media (max-width: 1300px) {
  .packages {
    &::before {
      width: 109px;
      height: 50px;
      top: -50px;
      border-radius: 30px 30px 0px 0px;
    }
  }

  .package__spoiler-decorate-button {
    width: 109px;
    height: 50px;
    bottom: -50px;
    border-radius: 0px 0px 30px 30px;
  }

  .package__spoiler-chevron {
    width: 30px;
  }

  .package__spoiler-title {
    font-size: 34px;
  }

  .package__spoiler--open {
    & .package__spoiler-title {
      font-size: 98px;
    }
  }

  .package__spoiler-price {
    font-size: 34px;
  }

  .package__spoiler--open {
    & .package__spoiler-button {
      padding: 14px 18px 14px 14px;
    }
  }

  .option__description {
    font-size: 16px;
  }

  .upgrading__line-description {
    font-size: 30px;
  }

  .upgrading__line-price {
    font-size: 34px;
  }

  .upgrading__line-button {
    padding: 25px 14px 25px 20px;
  }

  .upgrading__packages {
    column-gap: 10px;
  }

  .upgrading__package-title {
    font-size: 32px;
  }

  .upgrading__package-option-description {
    font-size: 15px;
  }

  .upgrading__package-price {
    font-size: 25px;
  }
}

@media (max-width: 1216px) {
  .upgrading {
    &::after {
      bottom: 0;
      left: 0;
    }
  }
}

@media (max-width: 992px) {
  .header {
    padding-bottom: 150px;
  }

  .header__nav-list {
    column-gap: 53px;
  }
  .nav__link {
    font-size: 14px;
  }

  .contact-link {
    font-size: 14px;
  }

  .language-button {
    font-size: 12px;
  }

  .cart-button__img {
    width: 12px;
    height: 12px;
  }

  .packages {
    &::before {
      left: 50%;
      transform: translate(-50%);
    }
  }

  .packages__title {
    font-size: 34px;
  }

  .package__spoiler-decorate-button {
    left: 50%;
    transform: translate(-50%);
  }

  .package__spoiler--open {
    & .package__spoiler-columns {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 32px;
    }

    & .package__spoiler-column {
      align-items: center;
    }

    & .package__spoiler-price-wrapper {
      margin-bottom: 20px;
    }

    & .package__spoiler-price {
      padding-right: 41px;
    }
  }

  .upgrading {
    padding-top: 150px;
    padding-bottom: 150px;

    background-position: bottom left;
    background-size: 50%;
  }

  .upgrading__content {
    // padding-bottom: 150px;
    // &::after {
    //   display: none;
    // }
  }

  .upgrading__title {
    font-size: 22px;
  }

  .upgrading__description {
    font-size: 14px;
  }

  .upgrading__line {
    // display: flex;
    // flex-direction: column;
    // align-items: flex-start;

    &::before {
      display: none;
    }
  }

  .upgrading__line-left {
    // display: flex;
    // align-items: center;
    border-radius: 8px;
    padding-left: 5px;
    padding-right: 5px;
    // column-gap: 5px;
    // grid-template-columns: 59px 1fr 0fr;
    grid-template-columns: 0fr 1fr 0fr;
    column-gap: 20px;
  }

  .upgrading__line-right {
    display: none;
  }

  .upgrading__line-description {
    font-size: 20px;
  }

  .upgrading__line-button {
    border-radius: 0px 0px 8px 8px;
  }

  .upgrading__packages {
    // grid-template-columns: 0fr 0fr;
    // justify-content: center;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 10px;
  }

  .footer {
    padding-top: 50px;
    padding-bottom: 150px;

    background-position: bottom right;
    background-size: contain;
  }

  .footer__columns {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 132px;
  }

  .footer__column-left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__column-right {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .payment-info {
    flex-direction: column;
    row-gap: 11px;
  }

  .payment-info__title {
    font-size: 13px;
  }

  .footer__contacts {
    margin-bottom: 20px;
  }
}

@media (max-width: 700px) {
  // .upgrading__line--startx {
  //   & .upgrading__line-arrow {
  //     width: 20%;
  //   }
  // }

  // .upgrading__line--lite {
  //   & .upgrading__line-arrow {
  //     width: 40%;
  //   }
  // }

  // .upgrading__line--plus {
  //   & .upgrading__line-arrow {
  //     width: 50%;
  //   }
  // }
  .upgrading__line-left {
    grid-template-columns: 0fr 0.5fr 0fr;
  }
}

@media (max-width: 500px) {
  .header__nav-list {
    column-gap: 23px;
  }

  .header__bottom {
    column-gap: 22px;
  }

  .contact-link {
    font-size: 12px;
  }

  .nav__link {
    font-size: 12px;
  }

  .package__spoiler-title {
    font-size: 24px;
  }

  .package__spoiler-price {
    font-size: 24px;
  }

  .package__spoiler--open {
    & .package__spoiler-button {
      padding: 6px 18px 6px 14px;
    }
  }
}

@media (max-width: 430px) {
  .upgrading__line-left {
    grid-template-columns: 40px 0.4fr 0fr;
  }

  .upgrading__line-description {
    font-size: 12px;
  }
}

// @media (max-width: 320px) {
// }
