$bg-purple: #8c35e3;
$bg-white: #ffffff;

$ui-purple: #8c35e3;
$ui-white: #ffffff;
$ui-black: #000000;
$ui-green: #81b42e;
$ui-yellow: #ffca00;
$ui-orange: #ff8f28;
$ui-pink: #ff4e68;

$text-white: #ffffff;
$text-black: #000000;
$text-purple: #8c35e3;
$text-yellow: #ffca00;
$text-pink: #ff4e68;
$text-orange: #ff8f28;

$gradient-green: linear-gradient(90deg, #81b42e 0%, #ffca00 100%);
$gradient-yellow: linear-gradient(90deg, #ffca00 0%, #ff8f28 100%);
$gradient-orange: linear-gradient(90deg, #ff8f28 0%, #ff4e68 100%);
$gradient-pink: linear-gradient(90deg, #ff4e68 0%, #8c35e3 100%);

$font-poppins: "Poppins", sans-serif;
$font-roboto: "Roboto", sans-serif;
